/* scroll */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    background: transparent;
}


/* end scroll */


/* header */

.active {
    color: #FFF008;
}

header {
    background: #1C3B78;
    padding-bottom: 10px;
}

.logo-header {
    cursor: pointer;
    margin-left: 20px;
}

.text-header {
    margin-top: 40px;
    font-weight: 600;
    font-family: "glory";
}

.text-header-2 {
    margin-top: 40px;
    font-weight: 600;
    font-family: "glory";
}

.img-pembelajaran {
    margin-top: 35px;
}

#text-hover-2 {
    display: none;
}

.text-hover-2 {
    position: absolute;
    margin-top: -15px;
    width: 150px;
    height: auto;
    padding: 10px;
    color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    font-family: "glory";
    cursor: pointer;
}

.text-hover-2 hr {
    position: relative;
    right: 15px;
    width: 150px;
    margin: 5px;
}

.text-hover-2 a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 17px;
}

.text-hover-2 i {
    margin-left: 15px;
    margin-top: 4px;
}


/* end header */


/* pembelajaran */

.button-hidden {
    position: relative;
    right: 22px;
    bottom: 25px;
    width: 20px;
    height: 20px;
    z-index: 99;
}

.content-pembelajaran {
    margin-top: -65px;
    margin-left: 50px;
}

.text-pembelajaran {
    font-family: "glory";
}

.text-pembelajaran h1 {
    font-weight: bold;
}

.text-pembelajaran h2 {
    font-weight: bold;
}

.text-pembelajaran h1 span {
    position: relative;
    bottom: 5px;
    font-size: 16px;
    margin-left: 20px;
    background: #2289FF;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    border: none;
}

.text-pembelajaran button:hover {
    background: #143152;
    color: white;
}

.pembelajaran {
    margin-left: 30px;
    padding: 20px;
    width: 300px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 40px;
}

.pembelajaran p {
    font-family: "glory";
    font-weight: 600;
    font-size: 18px;
}

.pembelajaran span {
    font-family: "glory";
    font-weight: 600;
    font-size: 18px;
}

.pembelajaran-2 {
    margin-left: 30px;
    width: 300px;
    height: 65px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pembelajaran-2 i {
    margin-top: 15px;
}

.pembelajaran-2 span {
    font-family: "glory";
    font-weight: 600;
    font-size: 15px;
}

.pembelajaran-2 p {
    font-family: "glory";
    font-weight: 600;
    font-size: 15px;
}

.pembelajaran-2 input {
    margin-top: 15px;
}

.pembelajaran-3 {
    margin-left: 30px;
    width: 300px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pembelajaran-3 span {
    font-family: "glory";
    font-weight: 600;
    font-size: 15px;
}

.pembelajaran-bar {
    margin-left: 30px;
    padding: 10px;
    width: 300px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 40px;
}

.pembelajaran-bar p {
    font-family: "glory";
    font-weight: 600;
    font-size: 18px;
}

.next-pembelajaran {
    width: 100%;
    height: 100px;
    margin-top: -48px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 40px;
}

.next-pembelajaran p {
    margin-left: 250px;
    font-family: "glory";
    font-weight: 600;
    color: #2289FF;
}

.next-pembelajaran p span {
    color: black;
}


/* end pembelajaran */


/* quiz */

.box-proses {
    background: #DBDFFD;
    width: 750px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
}

.box-proses p {
    font-family: "glory";
    font-weight: 600;
    line-height: 10px;
}

.btn-quiz {
    width: 150px;
    border-radius: 15px;
    padding: 5px;
    background: #2289FF;
    border: none;
}


/* end-quiz */


/* footer */

footer {
    color: white;
    background: #1C3B78;
    padding-top: 35px;
    font-family: "glory";
}

.logo-footer h1 {
    position: relative;
    left: 50px;
    bottom: 15px;
    font-size: 13px;
    font-weight: bold;
}

.logo-footer {
    position: relative;
    top: 5px;
    right: 30px;
    cursor: pointer;
}

.share {
    position: relative;
    right: 50px;
}

.icon-share {
    margin-bottom: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.text-1 span {
    font-family: "glory";
    font-size: 16px;
    font-weight: 600;
}

.text-1 p {
    position: relative;
    top: 15px;
    line-height: 15px;
    font-size: 14px;
    font-family: "glory";
    font-weight: 600;
}

.text-2 span {
    font-size: 16px;
    font-family: "glory";
    font-weight: 600;
}

.text-2 p {
    position: relative;
    top: 15px;
    line-height: 15px;
    font-size: 14px;
    font-family: "glory";
    font-weight: 600;
}

.address span {
    font-size: 16px;
    font-family: "glory";
    font-weight: 600;
}

.address p {
    position: relative;
    top: 15px;
    line-height: 15px;
    font-size: 14px;
    width: 400px;
    font-family: "glory";
    font-weight: 600;
}

.copyright {
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

.copyright span {
    font-size: 14px;
    font-family: "glory";
    font-weight: 600;
}


/* end footer */