/* scroll */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    background: transparent;
}


/* end scroll */


/* header */

.active {
    color: #FFF008;
}

header {
    background: #1C3B78;
    padding-bottom: 10px;
}

.logo-header {
    cursor: pointer;
    margin-left: 20px;
}

.text-header {
    margin-left: 30px;
    margin-top: 40px;
    font-weight: 600;
    font-family: "glory";
}


/* end header */


/* pembelajaran */

.text-pembelajaran {
    font-family: "glory";
}

.text-pembelajaran h1 {
    font-weight: bold;
}

.text-pembelajaran h2 {
    font-weight: bold;
}

.text-pembelajaran h1 button {
    margin-left: 20px;
    background: #2289FF;
    font-weight: 600;
    border: none;
}

.text-pembelajaran button:hover {
    background: #143152;
    color: white;
}

.pembelajaran {
    margin-left: 30px;
    padding: 10px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pembelajaran span {
    font-family: "glory";
    font-weight: 600;
    font-size: 18px;
}

.pembelajaran-2 {
    margin-left: 30px;
    width: 300px;
    height: 65px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pembelajaran-2 i {
    margin-top: 15px;
}

.pembelajaran-2 span {
    font-family: "glory";
    font-weight: 600;
    font-size: 15px;
}

.pembelajaran-2 p {
    font-family: "glory";
    font-weight: 600;
    font-size: 15px;
}

.pembelajaran-2 input {
    margin-top: 15px;
}

.pembelajaran-3 {
    margin-left: 30px;
    width: 300px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pembelajaran-3 span {
    font-family: "glory";
    font-weight: 600;
    font-size: 15px;
}


/* end pembelajaran */


/* quiz */

.box-proses {
    background: #DBDFFD;
    width: 700px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
}

.box-proses p {
    font-family: "glory";
    font-weight: 600;
    line-height: 10px;
}

.btn-quiz {
    width: 150px;
    border-radius: 15px;
    padding: 5px;
    background: #2289FF;
    border: none;
}


/* end-quiz */


/* footer */

footer {
    color: white;
    background: #1C3B78;
    padding-top: 35px;
    font-family: "glory";
}

.logo-footer h1 {
    position: relative;
    left: 50px;
    bottom: 15px;
    font-size: 13px;
    font-weight: bold;
}

.logo-footer {
    position: relative;
    top: 5px;
    right: 30px;
    cursor: pointer;
}

.share {
    position: relative;
    right: 50px;
}

.icon-share {
    margin-bottom: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.text-1 span {
    font-family: "glory";
    font-size: 16px;
    font-weight: 600;
}

.text-1 p {
    position: relative;
    top: 15px;
    line-height: 15px;
    font-size: 14px;
    font-family: "glory";
    font-weight: 600;
}

.text-2 span {
    font-size: 16px;
    font-family: "glory";
    font-weight: 600;
}

.text-2 p {
    position: relative;
    top: 15px;
    line-height: 15px;
    font-size: 14px;
    font-family: "glory";
    font-weight: 600;
}

.address span {
    font-size: 16px;
    font-family: "glory";
    font-weight: 600;
}

.address p {
    position: relative;
    top: 15px;
    line-height: 15px;
    font-size: 14px;
    width: 400px;
    font-family: "glory";
    font-weight: 600;
}

.copyright {
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

.copyright span {
    font-size: 14px;
    font-family: "glory";
    font-weight: 600;
}


/* end footer */