/* scroll */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    background: transparent;
}


/* end scroll */


/* header */

.active {
    color: #FFF008;
}

header {
    background: #1C3B78;
    padding-bottom: 10px;
}

.logo-header {
    cursor: pointer;
    margin-left: 20px;
}

.text-header {
    margin-top: 40px;
    font-weight: 600;
    font-family: "glory";
}

.text-header-2 {
    margin-top: 40px;
    font-weight: 600;
    font-family: "glory";
}

.img-pembelajaran {
    margin-top: 35px;
}

#text-hover-2 {
    display: none;
}

.text-hover-2 {
    position: absolute;
    margin-top: -15px;
    width: 150px;
    height: auto;
    padding: 10px;
    color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    font-family: "glory";
    cursor: pointer;
}

.text-hover-2 hr {
    position: relative;
    right: 15px;
    width: 150px;
    margin: 5px;
}

.text-hover-2 a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 17px;
}

.text-hover-2 i {
    margin-left: 15px;
    margin-top: 4px;
}


/* end header */


/* menu */

.menu-pembelajaran {
    display: none;
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    background: linear-gradient(to top left, #018ED6, #1C3B78);
    z-index: 99999;
    animation-name: menu;
    animation-duration: 1s;
}

@keyframes menu {
    0% {
        left: -400px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.icon-pembelajaran {
    background-image: url("../guest/assets/images/icon-menu.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-top: 39px;
    margin-left: 5px;
}

.icon-menu-hover {
    position: relative;
    z-index: 99999;
    margin-left: 25px;
    margin-top: 40px;
    background-image: url("../guest/assets/images/icon-close.png");
    background-size: cover;
    width: 25px;
    height: 25px;
}

.icon-menu-hover:hover {
    background-image: url("../guest/assets/images/icon-close-hover.png");
}

.text-header-menu {
    font-weight: 600;
    font-family: "glory";
}

.text-hover-menu {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    font-family: "glory";
    cursor: pointer;
}

.text-hover-menu hr {
    position: relative;
    right: 15px;
    width: 150px;
    margin: 5px;
}

.text-hover-menu a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 17px;
}

.text-hover-menu i {
    margin-left: 15px;
    margin-top: 4px;
}


/* end menu */


/* pembelajaran */

.materi-pembelajaran {
    margin-bottom: 65px;
}

.button-hidden {
    position: relative;
    right: 24px;
    bottom: 25px;
    width: 20px;
    height: 20px;
    z-index: 99;
}

.content-pembelajaran {
    margin-top: -63px;
    margin-left: 50px;
}

.text-pembelajaran {
    font-family: "glory";
}

.text-pembelajaran h1 {
    font-weight: bold;
}

.text-pembelajaran h2 {
    font-weight: bold;
}

.text-pembelajaran h1 span {
    position: relative;
    bottom: 5px;
    font-size: 16px;
    margin-left: 20px;
    background: #2289FF;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    border: none;
}

.text-pembelajaran button:hover {
    background: #143152;
    color: white;
}

.pembelajaran {
    margin-left: 30px;
    padding: 20px;
    width: 300px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding-bottom: 40px;
}

.pembelajaran p {
    font-family: "glory";
    font-weight: 600;
    font-size: 18px;
}

.pembelajaran span {
    font-family: "glory";
    font-weight: 600;
    font-size: 18px;
}

.pembelajaran-box {
    margin-left: 30px;
    width: 300px;
    height: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.pembelajaran-box span {
    font-family: "glory";
    font-weight: 600;
    font-size: 15px;
}

.pembelajaran-box a {
    color: black;
}

.pembelajaran-bar {
    margin-left: 30px;
    padding: 10px;
    width: 300px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding-bottom: 40px;
}

.pembelajaran-bar p {
    font-family: "glory";
    font-weight: 600;
    font-size: 18px;
}

.next-pembelajaran {
    width: 100%;
    height: 100px;
    margin-top: -48px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 40px;
}

.next-pembelajaran p {
    margin-left: 250px;
    font-family: "glory";
    font-weight: 600;
    color: #2289FF;
}

.next-pembelajaran p span {
    color: black;
}


/* end pembelajaran */


/* quiz */

.quiz {
    font-family: "glory";
}

.box-proses {
    background: #DBDFFD;
    width: 750px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
}

.box-proses p {
    font-family: "glory";
    font-weight: 600;
    line-height: 10px;
}

.btn-quiz {
    width: 150px;
    border-radius: 15px;
    padding: 5px;
    background: #2289FF;
    border: none;
}


/* end-quiz */


/* footer */

footer {
    color: white;
    background: #1C3B78;
    padding-top: 35px;
    font-family: "glory";
}

.logo-footer h1 {
    position: relative;
    left: 50px;
    bottom: 15px;
    font-size: 13px;
    font-weight: bold;
}

.logo-footer {
    position: relative;
    top: 5px;
    right: 30px;
    cursor: pointer;
}

.share {
    position: relative;
    right: 50px;
}

.icon-share {
    margin-bottom: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.text-1 span {
    font-family: "glory";
    font-size: 16px;
    font-weight: 600;
}

.text-1 p {
    position: relative;
    top: 15px;
    line-height: 15px;
    font-size: 14px;
    font-family: "glory";
    font-weight: 600;
}

.text-2 span {
    font-size: 16px;
    font-family: "glory";
    font-weight: 600;
}

.text-2 p {
    position: relative;
    top: 15px;
    line-height: 15px;
    font-size: 14px;
    font-family: "glory";
    font-weight: 600;
}

.address span {
    font-size: 16px;
    font-family: "glory";
    font-weight: 600;
}

.address p {
    position: relative;
    top: 15px;
    line-height: 15px;
    font-size: 14px;
    font-family: "glory";
    font-weight: 600;
}

.copyright {
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

.copyright span {
    font-size: 14px;
    font-family: "glory";
    font-weight: 600;
}


/* end footer */


/* responsive */


/* pembelajaran */

@media only screen and (min-width: 400px) and (max-width: 991px) {
    .menu-pembelajaran {
        display: block;
    }
    header {
        height: 100px;
    }
    .logo-header img {
        width: 100px;
        height: 90px;
    }
    .text-header-menu {
        margin-top: -20px;
    }
    .text-header {
        display: none;
    }
    .text-header-2 p {
        margin-left: 15px;
        font-size: 15px;
    }
    .text-hover-menu hr {
        position: relative;
        right: 13px;
        width: 104%;
        margin: 5px;
    }
    .text-hover-pembelajaran {
        display: none;
    }
    .content-pembelajaran {
        display: none;
    }
    .button-hidden {
        display: none;
    }
    .pembelajaran {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .pembelajaran-box {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .pembelajaran-bar {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .next-pembelajaran p {
        margin-left: 0;
    }
    /* quiz */
    .box-proses {
        margin-left: auto;
        margin-right: auto;
        width: 390px;
    }
    .btn-finish button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .content-pembelajaran {
        margin-left: -59px;
    }
    .button-hidden {
        right: 35px;
    }
}


/* end-pembelajaran */


/* quiz */

@media only screen and (min-width: 400px) and (max-width: 575px) {
    .box-proses {
        width: 380px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .box-proses {
        width: 500px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .box-proses {
        width: 750px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .box-proses {
        width: 500px;
    }
}


/* end quiz */


/* footer */

@media only screen and (min-width: 400px) and (max-width: 575px) {
    footer {
        padding-top: 20px;
    }
    .logo-footer {
        top: 0;
        right: 0;
    }
    .logo-footer img {
        width: 90px;
        height: 80px;
    }
    .logo-footer h1 {
        position: relative;
        top: -10px;
        left: 25px;
        font-size: 10px;
    }
    .share {
        margin-top: 8px;
        right: 0;
    }
    .share img {
        width: 20px;
        height: 20px;
    }
    .text-1 span {
        font-size: 10px;
    }
    .text-1 p {
        font-size: 8px;
    }
    .text-2 {
        margin-left: -20px;
    }
    .text-2 span {
        font-size: 10px;
    }
    .text-2 p {
        position: relative;
        top: 10px;
        font-size: 8px;
    }
    .address {
        margin-left: -20px;
    }
    .address span {
        font-size: 10px;
    }
    .address p {
        position: relative;
        width: 140px;
        top: 10px;
        font-size: 8px;
    }
    .copyright {
        padding-top: 0px;
    }
    .copyright span {
        font-size: 8px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    footer {
        padding-top: 20px;
    }
    .logo-footer {
        top: 0;
        right: 0;
        margin-left: 10px;
    }
    .logo-footer img {
        width: 100px;
        height: 80px;
    }
    .logo-footer h1 {
        position: relative;
        top: -10px;
        left: 25px;
        font-size: 10px;
    }
    .share {
        margin-top: 8px;
        right: 0;
    }
    .share img {
        width: 20px;
        height: 20px;
    }
    .text-1 span {
        font-size: 10px;
    }
    .text-1 p {
        font-size: 8px;
    }
    .text-2 {
        margin-left: -10px;
    }
    .text-2 span {
        font-size: 10px;
    }
    .text-2 p {
        position: relative;
        top: 10px;
        font-size: 8px;
    }
    .address {
        margin-left: -10px;
    }
    .address span {
        font-size: 10px;
    }
    .address p {
        position: relative;
        width: 140px;
        top: 10px;
        font-size: 8px;
    }
    .copyright {
        padding-top: 0px;
    }
    .copyright span {
        font-size: 8px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    footer {
        padding-top: 20px;
    }
    .logo-footer {
        top: 0;
        right: 0;
    }
    .logo-footer img {
        width: 150px;
        height: 100px;
    }
    .logo-footer h1 {
        position: relative;
        left: 40px;
        font-size: 12px;
    }
    .share {
        margin-top: 5px;
        right: 0;
    }
    .share img {
        width: 30px;
        height: 30px;
    }
    .text-1 span {
        font-size: 14px;
    }
    .text-1 p {
        font-size: 12px;
    }
    .text-2 {
        margin-left: -5px;
    }
    .text-2 span {
        font-size: 14px;
    }
    .text-2 p {
        position: relative;
        top: 10px;
        font-size: 12px;
    }
    .address {
        margin-left: -10px;
    }
    .address span {
        font-size: 14px;
    }
    .copyright {
        padding-top: 0px;
    }
    .address p {
        position: relative;
        width: 250px;
        top: 10px;
        font-size: 12px;
    }
    .copyright span {
        font-size: 12px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    footer {
        padding-top: 20px;
    }
    .logo-footer {
        top: 0;
        right: 0;
        left: 35px;
    }
    .logo-footer img {
        width: 150px;
        height: 100px;
    }
    .logo-footer h1 {
        position: relative;
        left: 40px;
        font-size: 12px;
    }
    .share {
        margin-top: 5px;
        right: 0;
    }
    .share img {
        width: 30px;
        height: 30px;
    }
    .text-1 span {
        font-size: 14px;
    }
    .text-1 p {
        font-size: 12px;
    }
    .text-2 {
        margin-left: -5px;
    }
    .text-2 span {
        font-size: 14px;
    }
    .text-2 p {
        position: relative;
        top: 10px;
        font-size: 12px;
    }
    .address {
        margin-left: -3px;
    }
    .address span {
        font-size: 14px;
    }
    .copyright {
        padding-top: 0px;
    }
    .address p {
        position: relative;
        width: 250px;
        top: 10px;
        font-size: 12px;
    }
    .copyright span {
        font-size: 12px;
    }
}


/* end footer */


/* end responsive */